HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
application-local.yml
*.log
node_modules/
node/



### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
src/main/resources/application.properties

